
@using AppSupport.Tech
<div class="row border-bottom">
    <nav style="margin-bottom: 0" role="navigation" class="navbar navbar-static-top  ">
        <div class="navbar-header">
            <a href="#" class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i> </a>
            
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome @AppSupportSessionManager.Get("UserName").ToString()</span>
            </li>
            <li>
                <a href="@Url.Action("logout","login")">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>